body {
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Arial, sans-serif;
}

h1 {
    color: #ff5733;
}
p {
    font-size: 16px;
}
.box {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px;
    border: 1px solid #2980b9;
}
